.info_sec{
    display: flex;
    flex-direction: row;
    gap: 78px;
    justify-content: space-between;

    padding: 7%;
}
.info_card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}
.info_card_title{
    font-size:16px ;
    font-weight: 800;
}
.info_card_des{
    font-size:16px ;
    font-weight: 400;
    margin-top: 18px;
}